h2
{
    margin-left:100px;
}

.noticias
{
  margin-left:100px;
  margin: 3px;
  padding:5px;
  width: 50%;
  left: 50%;
  right: 50%;
  text-align: center;
}
.img
{
  height: 180px;
  right: 30px;
  border: 5px solid black;
}

#tabla
{
  border: 1px solid #dddddd;
  width: 40%;
}

.fechas
{
  margin-left:100px;
  margin: 3px;
  padding:5px;
  width: 50%;
  left: 50%;
  right: 50%;
  text-align: center;
}

.post
{
  text-align: center;
  margin-left:100px;
  margin-top: 5px;
  padding-left: 10px;
  border-top: solid 3px white;
  border-right: outset 2px white;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 25px;
}
.resmerch
{
  width: 700px;
  height: 200px;
  position: relative;
  margin-left: 150px;
  margin-top: 25px;
  text-align:center;
}
.merch
{
  height: 140px;
  width: 100px;
  position: relative;
  margin-right: 50px;
  margin-left: 50px;
  text-align:center;
}

.merch:hover
{
  transform: scale(1.5);
  transition-duration: 1s;
}
.titulo {
  margin-bottom: 15px;
}

