table
{
    margin-left: 175px;
    border: 2px solid black;
}
th, td
{
    padding-right: 100px;
    text-align: center; 
    vertical-align: middle;
    border: 1px solid black;
}
.img
{
    height: 40px;
    width: 40px;
}
#pie
{
    position: relative;
    margin-top: 200px;
}